<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
    <h1>Team Name: <%=@newteam["name"]%> </h1>
 </head>

 <body>
<p>Coach: <%=@newteam["coach"]%> </p>
<p>Point Guard: <%=@newteam["pg"]%> </p>
<p>Shooting Guard: <%=@newteam["sg"]%> </p>
<p>Small Forward: <%=@newteam["sf"]%> </p>
<p>Power Forward: <%=@newteam["pf"]%> </p>
<p>Center: <%=@newteam["c"]%> </p>


 </body>
</html>
